input{
	display: block;
	width: 500px;
	height: 50px;
	font-size: 30px;
	margin: 0 auto;
	background-color:#555555;
	border-radius:10px;
}
#submitbutton{
	background-color: #999999;
	margin-left: 150px;
	margin-top: 20px;
	font-size: 30px;
	border-radius: 10px;
}
.main1
{   position: relative;
    top: 100px;
	font-size:30px;
	color: #D7D7D7;
	margin: 0 auto;
	width: 800px;
	height: 600px;
	background-color: #B3B8C4;
	border-radius: 20px;
	padding-top: 70px;
	
	
}
body{
	background-color: #00A3FF;
}

.header{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	text-align: center;
	top: 50px;
}