/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.mycodes.net/
*/
/* ---------------------Reset----------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}
/* -------------------------------------------- */
/* ------------------Style---------------------- */
/* -------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #0070b0 url(../images/pattern22.png) ;color: #474747;font: 12px/25px Arial, Helvetica, sans-serif;}

/*-------------------------*/
a{color: #474747;text-decoration: none;}
a:hover {color: #0070B0; text-decoration: none;}



.clearboth{ clear:both;}
/*--------------------*/
/*-------------Grid */
.zerogrid{ width: 960px; position: relative; margin: 0 auto; padding: 0;}
.zerogrid .row{}

.zerogrid .col-1-3{float: left; display: block; margin:10px;word-wrap:word-wrap:break-word; word-break:break-all; overflow: hidden;}
.zerogrid .col-1-3{width:31%;}

.zerogrid .col-right,.zerogrid .col-left{float: left; display: inline; margin:20px;}
.zerogrid .col-right{width:280px;}
.zerogrid .col-left{width:600px;}

.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}
/*--------------------*/
/*-------------header */
header {}
.wrap-header{width:960px;height: 130px; position:relative; margin: 0px auto; background:#ffffff; margin-top:50px; border-bottom:1px dashed #999999;}
.wrap-header #logo {position:absolute; top:40px; left: 30px; width: 100%;}
/*------------navigation and pagination */
nav {position:absolute; top:50px; right:20px; height: 37px;}
nav ul {list-style: none;margin: 0;padding: 0;}
nav ul li {position: relative;float: left;padding: 7px 5px 0px 5px; margin:0 20px 20px 0; background:#F0F0F0;-webkit-border-radius: 5px;	-moz-border-radius: 5px;	-khtml-border-radius: 5px;	border-radius: 5px;}
nav ul li:hover, nav ul li.current{background-color:#0070b0;}
nav ul li:hover a, nav ul li.current a{color:#ffffff;}
nav ul li a {font-size: 14px; line-height:14px;color:#999999;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase;}
nav ul li:hover a{color:#ffffff;}


/*-------------content */
#content {width:960px; margin:0 auto; background-color:#FFF;}
.feature{margin-bottom:20px;}
.welcome{margin: 0px 20px 20px 20px; padding: 30px; background:#F0F0F0; font-size:20px; text-align:center;}

.block01{ text-align:center; padding-bottom:20px;}
.block01 article{width:250px;height:300px; margin:0 auto; background:#EEEEEE; border-bottom:2px solid #999;}
.block01 img{-webkit-filter: none;}
.block01 a img {-webkit-transition: all 0.5s;}
/*.block01 a img:hover {-webkit-filter: drop-shadow(0px 20px 10px #000)}*/
.block01 a img.brightness:hover {-webkit-filter: brightness(0);}
.block01 h2{ font-size:14px; padding:10px 0px;}
///////////////////////////////////////////////////////
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.wrap-header, .wrap-pagetop, #content, .zerogrid, .block02{width:768px;}
	
	.zerogrid .col-1-3{width:30%;}
	.zerogrid .col-right{width:184px;}
	.zerogrid .col-left{width:504px;}
	
	.feature{padding:0px;}
	.welcome{margin:0px;}
}

@media only screen and (max-width: 767px) {
	.wrap-header, .wrap-pagetop, #content, .zerogrid, .zerogrid .col-right, .zerogrid .col-left, .block02{width:100%; margin:0px; padding:0px;}
	
	.feature{padding:0px;}
	.welcome{margin:0px;}
	
	.wrap-header {margin-top: 0px;height:150px;}
	
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.zerogrid .col-1-3{width:45%;}
	
	.wrap-header #logo{top:auto; bottom:10px;}
	
	nav{top:20px; left:5px;}
}

@media only screen and (max-width: 479px) {
	.zerogrid .col-1-3{width:100%;}
	
	.wrap-header{height: 200px;}
	.wrap-header #logo{top:auto; bottom:20px; left:5px;}
	.wrap-pagetop #search{top:45px; left:5px;}
	
	nav{top:40px; left:5px;}
	
	#main-content img{width:80%; height: 80%;}
	
	footer .copyright{height:50px;}
}